.languages-container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  .search-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-bar {
    padding: 8px;
    width: 200px;
  }
  
  select,
  input[type="text"] {
    padding: 8px;
  }
  
  .language-block {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    transition: all 0.3s ease;
  }
  
  .language-name {
    cursor: pointer;
    color: #007bff;
  }
  
  .language-name:hover {
    text-decoration: underline;
  }
  
  
  .language-countries li {
    padding: 4px 0;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .flag-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Responsive grid */
    gap: 15px; /* Spacing between flags */
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .flag-item {
    background-color: #dfdede;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }